.catContainer {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
}

@media (max-width: 600px) {
    .catContainer {
        /* Force cat to that position in mobile.*/
        max-width: 90%;
    }
}