body {
	counter-reset: level1Header level2Header level3Header level4Header level5Header;
}

h1 {
	counter-increment: level1Header;
	counter-set: level2Header 0;
}
h1::before {
	content: counter(level1Header) ' ';
}

h2 {
	counter-increment: level2Header;
	counter-set: level3Header 0
}
h2::before {
	content: counter(level1Header) '.' counter(level2Header) ' ';
}

h3 {
	counter-increment: level3Header;
	counter-set: level4Header 0
}
h3::before {
	content: counter(level1Header) '.' counter(level2Header) '.' counter(level3Header) ' ';
}

h4 {
	counter-increment: level4Header;
	counter-set: level5Header 0
}
h4::before {
	content: counter(level1Header) '.' counter(level2Header) '.' counter(level3Header) '.' counter(level4Header) ' ';
}

h5 {
	counter-increment: level5Header;
}
h5::before {
	content: counter(level1Header) '.' counter(level2Header) '.' counter(level3Header) '.' counter(level4Header) '.' counter(level5Header) ' ';
}