body {
    background-color: rgb(4 28 28);
    color:rgb(126, 198, 153);
    font-family: Arial;
    font-size: 18px;
    line-height: 30px;
}

/* On small screens, reduce the padding */
@media (max-width: 600px) {
    .container {
        padding: 0 0.5rem; /* less padding on mobile */
    }
}

/* On wider screens, use max-width and auto margin to center the container */
.container {
    max-width: 1200px;
    padding: 2rem;
    margin: 0 auto;
}

a{
  color:rgb(240, 141, 73);
}

a:active, a:hover{
  color:rgb(204, 204, 204);
}

h1, h2, h3,
h4, h5, h6,
.customHeading, .titleHeading {
    color:rgb(126, 198, 153);
    line-height: 1em;
    margin: 0;
}

.cheatCodeCollection{
    padding-bottom:3rem;
}

.cheatBlock{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cheatExplanationBlock{
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.codeBlock {
    background-color: rgb(45, 45, 45);
    border-radius: 5px;
    font-family: monospace;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

code[class*="language-"],
pre[class*="language-"] {
    margin: 0 0 !important;
    width: 92%;
    border-radius: 5px;
}

/* Example of layout of code block
<div class="codeBlock">
    <pre class="  language-python">
        <code class="  language-python">
            [Prismjs does its magic here
        </code>
    </pre>
    <div class="copyIcon">
        <svg>[svg stuff here]</svg>
    </div>
</div>
*/

.copyIcon {
    padding: 1rem;
    margin-left: auto;
    color:rgb(240, 141, 73);
}

.copyIcon:hover, .copyIcon:active {
    cursor: pointer;
    color:rgb(204, 204, 204);
}

.customHeading {
    display: block;
    font-size: 3em;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

.titleHeading {
    display: block;
    font-size: 2.5em;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
}