body {
    background-color: rgb(4 28 28);
    color:rgb(140, 243, 234);
    font-family: Arial;
    font-size: 18px;
    line-height: 30px;
}

/* On small screens, reduce the padding */
@media (max-width: 600px) {
    .container {
        padding: 0 0.5rem; /* less padding on mobile */
    }
}

.container {
    max-width: 1200px;
    padding: 2rem;
    margin: 0 auto;
}

code[class*="language-"],
pre[class*="language-"] {
    margin: 0 0 !important;
    width: 92%;
}

a{
  color:rgb(45, 240, 224);
}

a:active, a:hover{
  color:rgb(240 243 243);
}

h1, h2, h3,
h4, h5, h6,
.customHeading {
    color:rgb(45, 240, 224);
    line-height: 1em;
}

.cheatCodeCollection{
    padding-bottom:3rem;
}

.cheatBlock{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cheatExplanationBlock{
    padding: 1rem;
}

.codeBlock {
    background-color: #272822;
    border-radius: 5px;
    font-family: monospace;
    margin-left:1rem;
    margin-right:1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cmdText, .codeText {
    padding: 1rem;
    max-width: 92%;
}

.cmdBlock {
    margin-left:1rem;
    margin-right:1rem;
    font-family: monospace;
}

.cmdTopBar {
    background-color: rgb(200, 200, 200);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 2em;
    width: 100%;
}

.cmdText {
    color: white;
}

.cmdBlack {
    background-color: rgb(20 20 20);
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    justify-content: space-between;
}

.copyIcon {
    padding: 1rem;
    margin-left: auto;
}

.copyIcon:hover {
    cursor: pointer;
    color: white;
}

.customHeading {
    display: block;
    font-size: 3em;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
}