body {
    padding: 3rem;
    background-color: rgb(1, 50, 50);
    color:rgb(140, 243, 234);
    font-family: Arial;
    font-size: 18px;
    line-height: 30px;
}

a{
  color:rgb(45, 240, 224);
}

a:active, a:hover{
  color:rgb(240 243 243);
}

h1, h2, h3,
h4, h5, h6,
.customHeading {
    color:rgb(45, 240, 224);
}

.mainStyle{
    padding:1rem;
    padding-bottom:2rem;
}

.cheatCodeCollection{
    padding-bottom:3rem;
}

.cheatBlock{
    padding-top:1rem;
    padding-bottom:1rem;
}

.cheatExplanationBlock{
    padding: 1rem;
}

.codeBlock {
    background-color: rgb(0 30 30);
    border-radius: 5px;
    font-family: monospace;
    margin-left:1rem;
    margin-right:1rem;
    display: flex;
    justify-content: space-between;
}

.codeText {
    padding: 1rem;
}

.cmdBlock {
    margin-left:1rem;
    margin-right:1rem;
    font-family: monospace;
}

.cmdTopBar {
    background-color: rgb(200, 200, 200);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 2em;
    width: 100%;
}

.cmdText {
    color: white;
    padding: 1rem;
}

.cmdBlack {
    background-color: rgb(20 20 20);
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
}

.copyIcon {
    padding: 1rem;
}

.customHeading {
    display: block;
    font-size: 3em;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
}